{% extends 'base.html' %}

{% block head%}

    {% if title %}
        <title>Welcome to {{ title }}</title>
    {% else %}
        <title>Welcome</title>
    {% endif %}

{% endblock %}




{% block body %}
    <h1>Home</h1>

    <ul>
        {% for post in posts %}
            <li> {{ post.author }}</li>
            <ul>
                <li> {{ post.title }}</li>
                <li> {{ post.content }}</li>
                <li> {{ post.date_posted }}</li>
            </ul>
            <br />
        {% endfor %}
    </ul>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ url_for('login')}}">
            <button type="button" class="btn btn-outline-primary">Login</button>
        </a> &nbsp;
        <a href="{{ url_for('register')}}">
            <button type="button" class="btn btn-outline-primary">Register</button>
        </a>&nbsp;
        <a href="{{ url_for('view')}}">
            <button type="button" class="btn btn-outline-primary">View</button>
        </a>
      </div>

    



{% endblock %}